* {
  box-sizing: border-box;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*:focus {
  outline: none !important;
  box-shadow: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  width: 100vw;
  height: 100vh;
  cursor: none;
}

body {
  margin: 0;
  background-color: #000;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  overscroll-behavior: none;
  cursor: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  cursor: none;
}

.main-container {
  width: 100vw;
  height: 100vh;
}

#musicButton {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    padding: 10px 16px;
    border: 2px solid rgba(143, 153, 141, 0.531);
    background: rgba(227, 218, 218, 0.276);
    color: rgb(210, 210, 224);
    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Nunito Sans", sans-serif; 
}

#musicButton:hover {
    background-color: transparent;
}